DB_HOST=localhost
DB_USER=melihub_user
DB_PASSWORD=cambiame_por_seguridad
DB_NAME=abejas_meliponas
PORT=5001

# Configuración del servidor de correo SMTP (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-contraseña-de-aplicacion
SMTP_FROM="Soporte MeliHub" <tu-correo@gmail.com>


