# Configuración de Base de Datos MySQL
DB_ROOT_PASSWORD=cambiame_root
DB_NAME=meliponas_db
DB_USER=meliponas_user
DB_PASSWORD=cambiame_user
DB_HOST=db
DB_PORT=3306

# Configuración del Backend
PORT=3001

# Configuración del Frontend
# Si necesitas variables de entorno para Vite (e.g. URL del backend)
# VITE_API_URL=http://tu-dominio.com/api
